In [ ]:
import pandas as pd

Creating DataFrames

In [ ]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 42],
    'City': ['New York', 'Paris', 'Berlin', 'London'],
    'Salary': [65000, 70000, 62000, 85000]
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
data_list = [
    ['John', 28, 'New York', 65000],
    ['Anna', 34, 'Paris', 70000],
    ['Peter', 29, 'Berlin', 62000],
    ['Linda', 42, 'London', 85000]
]

df2 = pd.DataFrame(data_list)

In [ ]:
df2

In [ ]:
data_list = [
    ['John', 28, 'New York', 65000],
    ['Anna', 34, 'Paris', 70000],
    ['Peter', 29, 'Berlin', 62000],
    ['Linda', 42, 'London', 85000]
]

df2 = pd.DataFrame(data_list, columns=['Name', 'Age', 'City', 'Salary'])

In [ ]:
df2

Selecting a Single Column

In [ ]:
df

In [ ]:
df['Name']

Selecting Multiple Columns

In [ ]:
df[['Name', 'Age']]

Creating a New Column using Values

In [ ]:
df['Role'] = ['Manager', 'Developer', 'Designer', 'Analyst']

In [ ]:
df

Removing Columns

In [ ]:
df.drop('Role', axis=1)

In [ ]:
df

In [ ]:
df.drop('Role', axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop(['Age', 'Salary'], axis=1)

In [ ]:
df.drop(columns=['Age', 'Salary'], axis = 1)

Indexing Columns by Position

In [ ]:
df.iloc[:, 0]

In [ ]:
df.iloc[:, [0, 2]]

In [ ]:
df.iloc[:, 0:2]

Indexing Columns by Labels

In [ ]:
df.loc[:, 'Age']

In [ ]:
df.loc[:, ['Name', 'Age']]

Get Column Index Number

In [ ]:
df.columns.get_loc('Name')

Change Column Order using Indexing

In [ ]:
df = df[['Name', 'City', 'Salary', 'Age']]
df

Selecting Rows by Index Label

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0, 2]]

In [ ]:
df.loc[0:1]

Selecing Rows by Position

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0, 2]]

In [ ]:
df.iloc[0:2]

Selecing Subsets of Rows and Columns using Label/Index (Recommended)

In [ ]:
df.loc[0:1, ['Name', "Age"]]

Selecting Substs of Rows and Columns using Position

In [ ]:
df.iloc[0:2, 1:3]